.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.908203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.891113;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{width:1.152000px;}
._15{width:2.928000px;}
._c{width:3.984000px;}
._d{width:5.184000px;}
._16{width:7.008000px;}
._6{width:10.368000px;}
._13{width:16.464000px;}
._5{width:17.760000px;}
._17{width:19.536000px;}
._b{width:22.128000px;}
._1{width:32.016000px;}
._7{width:60.048000px;}
._4{width:74.688000px;}
._0{width:85.344000px;}
._11{width:120.000000px;}
._f{width:132.000000px;}
._9{width:157.344000px;}
._8{width:170.688000px;}
._2{width:246.672000px;}
._10{width:693.408000px;}
._14{width:804.000000px;}
._12{width:813.360000px;}
._3{width:816.000000px;}
._e{width:892.032000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs0{font-size:48.000000px;}
.y7{bottom:2.603254px;}
.y6{bottom:12.952253px;}
.y4{bottom:43.222003px;}
.y3{bottom:57.021003px;}
.y2{bottom:70.820003px;}
.y22{bottom:83.169032px;}
.y0{bottom:94.500000px;}
.y21{bottom:96.968043px;}
.y20{bottom:165.963038px;}
.y1f{bottom:193.561000px;}
.y1e{bottom:207.360011px;}
.y1d{bottom:262.556025px;}
.y1c{bottom:291.254024px;}
.y1b{bottom:332.651027px;}
.y1a{bottom:360.249031px;}
.y19{bottom:374.048030px;}
.y18{bottom:401.646027px;}
.y17{bottom:415.445026px;}
.y16{bottom:429.244026px;}
.y15{bottom:443.043025px;}
.y14{bottom:470.641032px;}
.y13{bottom:484.440028px;}
.y12{bottom:498.239024px;}
.y11{bottom:525.837025px;}
.y10{bottom:539.636024px;}
.yf{bottom:553.435023px;}
.ye{bottom:581.033031px;}
.yd{bottom:608.631022px;}
.yc{bottom:644.229022px;}
.yb{bottom:658.028026px;}
.ya{bottom:685.626025px;}
.y9{bottom:699.425025px;}
.y8{bottom:713.224025px;}
.y1{bottom:724.427021px;}
.y5{bottom:737.188394px;}
.h4{height:21.729254px;}
.h5{height:25.013672px;}
.h3{height:32.531250px;}
.h7{height:33.328125px;}
.h6{height:33.351562px;}
.h2{height:82.023003px;}
.h1{height:724.500000px;}
.h0{height:841.900024px;}
.w2{width:318.279223px;}
.w1{width:486.000000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x6{left:18.415000px;}
.x0{left:58.000000px;}
.x8{left:63.799999px;}
.x7{left:69.026999px;}
.x9{left:99.799999px;}
.x5{left:131.235381px;}
.x4{left:162.219997px;}
.x2{left:164.551998px;}
.x3{left:165.717999px;}
.xc{left:207.799999px;}
.xb{left:243.799999px;}
.xa{left:266.566998px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._a{width:1.536000pt;}
._15{width:3.904000pt;}
._c{width:5.312000pt;}
._d{width:6.912000pt;}
._16{width:9.344000pt;}
._6{width:13.824000pt;}
._13{width:21.952000pt;}
._5{width:23.680000pt;}
._17{width:26.048000pt;}
._b{width:29.504000pt;}
._1{width:42.688000pt;}
._7{width:80.064000pt;}
._4{width:99.584000pt;}
._0{width:113.792000pt;}
._11{width:160.000000pt;}
._f{width:176.000000pt;}
._9{width:209.792000pt;}
._8{width:227.584000pt;}
._2{width:328.896000pt;}
._10{width:924.544000pt;}
._14{width:1072.000000pt;}
._12{width:1084.480000pt;}
._3{width:1088.000000pt;}
._e{width:1189.376000pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:64.000000pt;}
.y7{bottom:3.471006pt;}
.y6{bottom:17.269671pt;}
.y4{bottom:57.629337pt;}
.y3{bottom:76.028004pt;}
.y2{bottom:94.426670pt;}
.y22{bottom:110.892043pt;}
.y0{bottom:126.000000pt;}
.y21{bottom:129.290724pt;}
.y20{bottom:221.284051pt;}
.y1f{bottom:258.081333pt;}
.y1e{bottom:276.480015pt;}
.y1d{bottom:350.074701pt;}
.y1c{bottom:388.338698pt;}
.y1b{bottom:443.534702pt;}
.y1a{bottom:480.332041pt;}
.y19{bottom:498.730707pt;}
.y18{bottom:535.528035pt;}
.y17{bottom:553.926702pt;}
.y16{bottom:572.325368pt;}
.y15{bottom:590.724033pt;}
.y14{bottom:627.521376pt;}
.y13{bottom:645.920038pt;}
.y12{bottom:664.318699pt;}
.y11{bottom:701.116033pt;}
.y10{bottom:719.514699pt;}
.yf{bottom:737.913364pt;}
.ye{bottom:774.710707pt;}
.yd{bottom:811.508030pt;}
.yc{bottom:858.972029pt;}
.yb{bottom:877.370701pt;}
.ya{bottom:914.168034pt;}
.y9{bottom:932.566700pt;}
.y8{bottom:950.965366pt;}
.y1{bottom:965.902695pt;}
.y5{bottom:982.917859pt;}
.h4{height:28.972338pt;}
.h5{height:33.351562pt;}
.h3{height:43.375000pt;}
.h7{height:44.437500pt;}
.h6{height:44.468750pt;}
.h2{height:109.364003pt;}
.h1{height:966.000000pt;}
.h0{height:1122.533366pt;}
.w2{width:424.372298pt;}
.w1{width:648.000000pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x6{left:24.553333pt;}
.x0{left:77.333333pt;}
.x8{left:85.066666pt;}
.x7{left:92.035999pt;}
.x9{left:133.066666pt;}
.x5{left:174.980508pt;}
.x4{left:216.293330pt;}
.x2{left:219.402664pt;}
.x3{left:220.957331pt;}
.xc{left:277.066666pt;}
.xb{left:325.066666pt;}
.xa{left:355.422663pt;}
}
